.calendar {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-right: 10px;
}

.month-view,
.week-view,
.day-view {
  display: none;
  height: 100%;
}

.month-view.active {
  display: block;
}

.week-view.active {
  display: flex;
  flex-direction: column;
}

.day-view.active {
  display: block;
}

/* Month View */

.month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  place-items: center;

  & .month-view__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}

.month-view__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 5px;
  padding: 10px 0;
}

.month-view__date {
  text-align: center;
  font-weight: 600;
  width: 40px;
  height: 40px;
  background: transparent;
  transition:
    background 0.2s,
    color 0.2s,
    transform 0.2s;
}

.month-view__date.inactive {
  opacity: 0.3;
  background: white;
  pointer-events: none;
  cursor: default;
}

.month-view__date.has-schedule {
  display: flex;
  flex-direction: column;
}

.dot-more {
  opacity: 0.3;
}

/* Week View */
.week-view {
  gap: 10px;
}

.week-view__list {
  display: flex;
  flex-direction: column;
}

.week-view__day {
  font-size: 12px;

  display: flex;
  gap: 10px;
  align-items: stretch;
  padding: 10px 0;
  border-radius: 8px;
  & .week-view__date {
    display: flex;
    gap: 10px;
  }

  & .week-view__timeLine {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 8px;
  }

  & .schedule-item {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  & .schedule-item .time {
    font-size: 12px;
    opacity: 0.7;
    white-space: nowrap;
  }

  & .schedule-item .subject {
    font-size: 13px;
    font-weight: 500;

    /* cho phép wrap nếu tên dài */
    white-space: normal;
    overflow-wrap: anywhere;
  }
}

.week-view__day.empty {
  & .week-view__date {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.week-view__date {
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 40px;
  border-right: 2px solid gray;

  & .day {
    opacity: 0.5;
  }
}

.day-view__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day-view__group {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
}

.day-view__content .schedule-item {
  & .schedule-item__title {
    font-weight: bold;
    opacity: 0.5;
  }
}
