@import 'theme.css';
@import 'sections/header.css';
@import 'sections/calendar.css';
* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: system-ui, sans-serif;
  padding: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.frame,
.header,
footer {
  flex-shrink: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  &:hover {
    background: var(--main-gradient-color);
    color: white;
    transition:
      background 0.2s,
      color 0.2s,
      transform 0.2s;
  }
}

button.active {
  background: var(--main-gradient-color);
  color: white;
}

.frame,
footer {
  display: flex;
  justify-content: end;
  gap: 10px;
  -webkit-app-region: drag;
}

footer {
  justify-content: start;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  -webkit-app-region: no-drag;
}

.btn:hover,
.btn.active {
  background: var(--main-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.week-view__day:hover,
.week-view__day.active {
  background: var(--main-gradient-color);
  color: white;
  cursor: pointer;

  transition:
    background 0.2s,
    color 0.2s,
    transform 0.2s;

  & .week-view__date {
    border-right-color: white;
  }
}

.week-view__divider {
  height: 1px;

  margin: 4px 0;
  flex-shrink: 0;
  background-image: repeating-linear-gradient(to right, gray 0px, gray 6px, transparent 6px, transparent 12px);
}

.calendar::-webkit-scrollbar {
  width: 6px;
}

/* track */
.calendar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* thumb */
.calendar::-webkit-scrollbar-thumb {
  background: var(--gradient-color);

  border-radius: 10px;
}

/* hover */
.calendar::-webkit-scrollbar-thumb:hover {
  background: var(--main-gradient-color);
}

.day-view__title {
  min-width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background: var(--main-gradient-color);
  border-radius: 8px;
}

.day-view__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  & .schedule-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  & .schedule-item:hover,
  .schedule-item.active {
    color: white;
    background: var(--gradient-color);
  }
}
