@import 'theme.css';
@import 'sections/header.css';
@import 'sections/calendar.css';
* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: system-ui, sans-serif;
  padding: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  &:hover {
    background: var(--main-gradient-color);
    color: white;
    transition:
      background 0.2s,
      color 0.2s,
      transform 0.2s;
  }
}

button.active {
  background: var(--main-gradient-color);
  color: white;
}

.frame,
footer {
  display: flex;
  justify-content: end;
  gap: 10px;
}

footer {
  justify-content: start;
}

.btn {
  cursor: pointer;
  font-size: 16px;
}

.btn:hover,
.btn.active {
  background: var(--main-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.week-view__day:hover {
  background: var(--main-gradient-color);
  color: white;
  cursor: pointer;

  transition:
    background 0.2s,
    color 0.2s,
    transform 0.2s;

  & .week-view__date {
    border-right-color: white;
  }
}
